<% layout('layouts/boilerplate')%>
<div id="clusterMap"></div>
<div class="container">
  <h1>All Campgrounds</h1>
  <% campgrounds.forEach((campground, i)=> { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">

        <% if (campground.images !==null && campground.images.length> 0) {%>
        <img class="img-fluid" src="<%= campground.images[0].url %> " alt="">
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <%= campground.title %>
          </h5>
          <p class="card-text">
            <%= campground.description %>
          </p>
          <p class="card-text">
            <small class="text-muted">
              <%= campground.location%>
            </small>
          </p>
          <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  async function GetMap() {
    const response = await fetch('/campgrounds/help')
    const campgrounds = await response.json()
    console.log(campgrounds)
    var map = new Microsoft.Maps.Map('#clusterMap', {});
    Microsoft.Maps.loadModule("Microsoft.Maps.Clustering", function () {
      var pins = campgrounds.map(camp => {
        return (new Microsoft.Maps.Pushpin(
          new Microsoft.Maps.Location(camp.geometry.coordinates[0], camp.geometry.coordinates[1])))
      })

      var locs = pins.map(pin => pin.getLocation());
      var bounds = Microsoft.Maps.LocationRect.fromLocations(locs);
      console.log(bounds)

      //Create a ClusterLayer and add it to the map.
      var clusterLayer = new Microsoft.Maps.ClusterLayer(pins);
      map.layers.insert(clusterLayer);
      map.setView({ bounds })

    });
  }
</script>



<% })%>